<div class="game-tab">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tab-par">
        Platforms: <span>PC</span>
      </p>
      <p class="game-tab-par">
        Publishers: <span>Konami</span>
      </p>
      <p class="game-tab-par">
        Website: <a href="" target="_blank" class="game-tab-link">https://</a>
      </p>
      <div class="game-description">Game Descriptioning</div>
      <p class="game-tab-votes">
        <span>
          <mat-icon class="game-votes-up">Thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">Thumb_down</mat-icon>
          <span class="game-votes-count">15</span>
        </span>
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
